# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
bower_components/*
node_modules/*
config.json
.vscode/*
*.psd
*.ai
*.bat
*.mp3
*.wav
*.png
tunnel.js
rewinder.js
Pollux-9b33db6de8e0.json
node_modules
core/commands/_botStaff/testing.js
core/commands/_botStaff/eval.js

config_events.json
