{
    "crossAuth" : ""
    ,"owner"     : ""
    ,"admins"    : []
    ,"mods"      : []
    ,"token"     : ""
    ,"dbURL"     : "mongodb://"
    ,"discoin-"  : ""
    ,"riot"      : ""
    ,"twitch"    : ""
    ,"google"    : ""
    ,"sentryDSN" : ""
    ,"testChannels" : [],
    "mainWebhook": {
        "id": "",
        "token": "",
    }
}
